/*
 * We set font-size to 10px on html {}
 */
$hive-factor: 1.6;

//@function my-calculation-function($some-number, $another-number){
//  @return $some-number + $another-number
//}

$spacer:  $hive-factor *  1rem; // !default;
$font-size-base: $hive-factor * 1rem; //1rem; // !default; // Assumes the browser default, typically `16px`
$font-size-lg:  $hive-factor * 1.25rem;// 1.25rem; // !default;
$font-size-sm:  $hive-factor * .875rem;
$font-size-xs:  $hive-factor * .75rem;
$h1-font-size: $hive-factor * 2.5rem; // !default;
$h2-font-size: $hive-factor * 2rem; // !default;
$h3-font-size: $hive-factor * 1.75rem;
$h4-font-size: $hive-factor * 1.5rem; // !default;
$h5-font-size: $hive-factor * 1.25rem;// 1.25rem; // !default;
$h6-font-size: $hive-factor * 1rem; //1rem; // !default;
$display1-size: $hive-factor * 6rem; // !default;
$display2-size: $hive-factor * 5.5rem; // !default;
$display3-size: $hive-factor * 4.5rem; // !default;
$display4-size: $hive-factor * 3.5rem; // !default;
$lead-font-size: $hive-factor * 1.25rem;// 1.25rem; // !default;
$blockquote-border-width: $hive-factor * .25rem; // !default;
$kbd-box-shadow:         inset 0 -($hive-factor * .1rem) 0 rgba($black,.25); // !default;
$border-radius:          $hive-factor * .25rem; // !default;
$border-radius-lg:       $hive-factor * .3rem; // !default;
$border-radius-sm:       $hive-factor * .2rem; // !default;
$table-cell-padding:            $hive-factor * .75rem;
$table-sm-cell-padding:         $hive-factor * .3rem; // !default;
$btn-padding-x:                 $hive-factor * 1rem; //1rem; // !default;
$btn-padding-y:                  $hive-factor * .5rem; // !default;
$btn-padding-x-sm:               $hive-factor * .5rem; // !default;
$btn-padding-y-sm:               $hive-factor * .25rem; // !default;
$btn-padding-x-lg:              $hive-factor * 1.5rem; // !default;
$btn-padding-y-lg:               $hive-factor * .75rem;
$btn-block-spacing-y:            $hive-factor * .5rem; // !default;
$btn-toolbar-margin:             $hive-factor * .5rem; // !default;
$input-padding-x:                $hive-factor * .75rem;
$input-padding-y:                $hive-factor * .5rem; // !default;
$input-padding-x-sm:             $hive-factor * .5rem; // !default;
$input-padding-y-sm:             $hive-factor * .25rem; // !default;
$input-padding-x-lg:            $hive-factor * 1.5rem; // !default;
$input-padding-y-lg:             $hive-factor * .75rem;
$form-text-margin-top:     $hive-factor * .25rem; // !default;
$form-check-margin-bottom:  $hive-factor * .5rem; // !default;
$form-check-input-gutter:   $hive-factor * 1.25rem;// 1.25rem; // !default;
$form-check-input-margin-y: $hive-factor * .25rem; // !default;
$form-check-input-margin-x: $hive-factor * .25rem; // !default;
$form-check-inline-margin-x: $hive-factor * .75rem;
$custom-control-gutter:  $hive-factor * 1.5rem; // !default;
$custom-control-spacer-x: $hive-factor * 1rem; //1rem; // !default;
$custom-control-spacer-y: $hive-factor * .25rem; // !default;
$custom-control-indicator-size:      $hive-factor * 1rem; //1rem; // !default;
$custom-control-indicator-margin-y:   (($line-height-base * $hive-factor * 1rem) - $custom-control-indicator-size) / -2; // !default;
$custom-control-indicator-box-shadow: inset 0 ($hive-factor * .25rem) ($hive-factor * .25rem) rgba($black,.1); // !default;
$custom-control-indicator-box-shadow: inset 0 ($hive-factor * .25rem) ($hive-factor * .25rem) rgba($black,.1); // !default;
$custom-select-padding-x:          $hive-factor * .75rem; // !default;
$custom-select-padding-y:          $hive-factor * .375rem; // !default;
$custom-select-indicator-padding:  $hive-factor * 1rem; //1rem; // !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-sm-padding-y:  $hive-factor * .2rem; // !default;
$custom-file-height:           $hive-factor * 2.5rem; // !default;
$custom-file-width:            $hive-factor * 14rem; // !default;
$custom-file-focus-box-shadow: 0 0 0 ($hive-factor * .075rem) $white, 0 0 0 ($hive-factor * .2rem) theme-color("primary"); // !default;
$custom-file-focus-box-shadow: 0 0 0 ($hive-factor * .075rem) $white, 0 0 0 ($hive-factor * .2rem) theme-color("primary"); // !default;
$custom-file-padding-x:     $hive-factor * .5rem; // !default;
$custom-file-padding-y:    $hive-factor * 1rem; //1rem; // !default;
$custom-file-box-shadow:    inset 0 ($hive-factor * .2rem) ($hive-factor * .4rem) rgba($black,.05); // !default;
$custom-file-box-shadow:    inset 0 ($hive-factor * .2rem) ($hive-factor * .4rem) rgba($black,.05); // !default;
$dropdown-min-width:            $hive-factor * 10rem; // !default;
$dropdown-padding-y:             $hive-factor * .5rem; // !default;
$dropdown-margin-top:           $hive-factor * .125rem; // !default;
$dropdown-box-shadow:            0 ($hive-factor * .5rem) ($hive-factor * 1rem) rgba($black,.175); // !default;
$dropdown-box-shadow:            0 ($hive-factor * .5rem) ($hive-factor * 1rem) rgba($black,.175); // !default;
$dropdown-item-padding-x:       $hive-factor * 1.5rem; // !default;
$navbar-brand-padding-y:            $hive-factor * .25rem; // !default;
$navbar-toggler-padding-x:           $hive-factor * .75rem;
$navbar-toggler-padding-y:           $hive-factor * .25rem; // !default;
$nav-item-margin:               $hive-factor * .2rem; // !default;
$nav-item-inline-spacer:       $hive-factor * 1rem; //1rem; // !default;
$pagination-padding-x:                $hive-factor * .75rem;
$pagination-padding-y:                $hive-factor * .5rem; // !default;
$pagination-padding-x-sm:             $hive-factor * .5rem; // !default;
$pagination-padding-y-sm:             $hive-factor * .25rem; // !default;
$pagination-padding-x-lg:            $hive-factor * 1.5rem; // !default;
$pagination-padding-y-lg:             $hive-factor * .75rem;
$jumbotron-padding:             $hive-factor * 2rem; // !default;
$card-spacer-x:            $hive-factor * 1.25rem;// 1.25rem; // !default;
$card-spacer-y:            $hive-factor * .75rem;
$card-img-overlay-padding: $hive-factor * 1.25rem;// 1.25rem; // !default;
$card-columns-gap:          $hive-factor * 1.25rem;// 1.25rem; // !default;
$badge-pill-border-radius:   $hive-factor * 10rem; // !default;
$alert-padding-x:             $hive-factor * 1.25rem;// 1.25rem; // !default;
$alert-padding-y:             $hive-factor * .75rem;
$progress-height:              $hive-factor * 1rem; //1rem; // !default;
$progress-font-size:            $hive-factor * .75rem;
$progress-box-shadow:           inset 0 ($hive-factor * .1rem) ($hive-factor * .1rem) rgba($black,.1); // !default;
$progress-box-shadow:           inset 0 ($hive-factor * .1rem) ($hive-factor * .1rem) rgba($black,.1); // !default;
$list-group-item-padding-x:      $hive-factor * 1.25rem;// 1.25rem; // !default;
$list-group-item-padding-y:      $hive-factor * .75rem;
$thumbnail-padding:           $hive-factor * .25rem; // !default;
$breadcrumb-padding-y:          $hive-factor * .75rem;
$breadcrumb-padding-x:         $hive-factor * 1rem; //1rem; // !default;
$breadcrumb-item-padding:       $hive-factor * .5rem; // !default;
$code-padding-x:              $hive-factor * .4rem; // !default;
$code-padding-y:              $hive-factor * .2rem; // !default;